/*Body*/
.body {
  font-family: lato;
  color: #353b50; }

h1 {
  font-family: lato;
  color: #353b50; }

h2 {
  font-family: lato;
  color: #353b50; }

h3 {
  font-family: lato;
  color: #353b50; }

h4 {
  font-family: lato;
  color: #353b50; }

b {
  font-family: lato;
  color: #353b50; }

p {
  font-family: lato;
  color: #353b50; }

/*End Body*/
/*Logo*/
.logo {
  width: 140px;
  padding-top: 20px;
  margin-left: 100px; }

/*End Logo*/
/*Home & Contact*/
.home {
  padding: 20px;
  font-family: lato;
  color: #353b50;
  font-weight: 500; }

.contact {
  padding: 20px;
  font-family: lato;
  color: #353b50;
  font-weight: 500; }

/*End Home & Contact*/
/*Section atas*/
.bgataskiri {
  max-width: 100%;
  max-height: 1113px; }

.ui.button {
  background-color: #0091ea !important;
  color: white !important;
  min-width: 100px !important; }

.ui.form {
  margin-right: 60px !important; }

/*End Section atas*/
/*Section Slider*/
#sectionslide {
  height: 550px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 550px; }

#bagianslide {
  min-height: 300px; }

#imgslide {
  height: 132px !important; }

.ui.card {
  padding-top: 5px;
  padding-bottom: 5px; }

.hargaperbulan {
  color: #0091ea; }

* {
  box-sizing: border-box; }

.checked {
  color: orange; }

.slider {
  width: 100%;
  margin: 10px auto; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide img {
  width: 100%; }

.slick-prev:before {
  color: black; }

.slick-next:before {
  color: black; }

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1; }

.slick-active {
  opacity: 1; }

.slick-current {
  opacity: 1; }

.overlay.fluid {
  position: absolute;
  bottom: 10%;
  right: 0%;
  background-color: white;
  font-size: 9pt; }

#loc {
  font-size: 12pt !important;
  margin-top: 5px;
  text-align: left; }

/*End Slider*/
/*Kelebihan Kami*/
/*End Kelebihan Kami*/
/*Partner*/
#sectionpartner {
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: 18px 133px; }

#bgbawahkanan {
  width: 500px;
  height: 500px; }

/*End Partner*/
/*Footer*/
#footer {
  height: 35px;
  background-image: linear-gradient(142deg, #3c9ce5, #42b8fc) !important;
  text-align: center;
  font-size: 12pt;
  color: white;
  vertical-align: center; }

/*End Footer*/
/*Responsive*/
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .logo {
    margin-left: 30px;
    max-width: 70% !important; }

  .home {
    font-weight: 600;
    font-size: 10pt; }

  .contact {
    font-weight: 600;
    font-size: 10pt;
    padding: 5px !important; }

  #shadowbody {
    background-image: none !important; }

  #bgatas {
    padding-left: 0px !important; }

  #bgataskanan {
    left: -30px; }

  .bgataskiri {
    max-width: 90%; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #locpin {
    font-size: 16px !important;
    margin-top: 2px !important; }

  #loc {
    font-size: 10pt !important;
    margin-top: 5px !important;
    text-align: left; }

  #kelebihan {
    height: 500px !important; }

  #kelebihankami {
    margin-top: 30px !important; }

  .ui.segment {
    min-height: 143px; }

  .ui.image {
    display: none !important; }

  #sectionpartner {
    height: 1000px; }

  #partnerdesc {
    width: 100%; }

  #berlangganan {
    height: 400px !important;
    margin-top: 45px; }

  #langganan {
    width: 600px !important; }

  #logobawah {
    float: right !important; }

  #jarak {
    display: none; } }
@media screen and (min-device-width: 415px) and (max-device-width: 768px) {
  .logo {
    margin-left: 10px;
    max-width: 70% !important; }

  .home {
    font-weight: 600;
    font-size: 10pt; }

  .contact {
    font-weight: 600;
    font-size: 10pt;
    padding: 5px !important; }

  #shadowbody {
    background-image: none !important; }

  #bgatas {
    padding-left: 0px !important; }

  #bgataskanan {
    left: -30px; }

  .bgataskiri {
    max-width: 90%; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #locpin {
    font-size: 16px !important;
    margin-top: 2px !important; }

  #loc {
    font-size: 10pt !important;
    margin-top: 5px !important;
    text-align: left; }

  #partnerdesc {
    width: 100%; }

  #sectionkelebihan {
    height: 1000px; }

  #kelebihan {
    height: 500px !important; }

  #kelebihankami {
    margin-top: 30px !important; }

  .ui.segment {
    min-height: 143px; }

  .ui.image {
    display: none !important; }

  #berlangganan {
    height: 400px !important;
    margin-top: 45px; }

  #langganan {
    width: 600px !important; }

  #logobawah {
    float: right !important; }

  #jarak {
    display: none; } }
@media screen and (min-device-width: 376px) and (max-device-width: 414px) {
  .logo {
    margin-left: 10px;
    max-width: 200% !important; }

  .home {
    display: none; }

  .contact {
    display: none; }

  #shadowbody {
    background-image: none !important; }

  #bgatas {
    padding-left: 0px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #imgslide {
    height: 195px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #sectionkelebihan {
    height: 1800px !important;
    margin-top: 60px; }

  #kelebihankami {
    margin-top: 30px !important; }

  #sectionpartner {
    height: 200px !important;
    padding-top: 0px !important; }

  #mozaikkanan {
    display: none; }

  #bgbawahkanan {
    display: none; }

  #testiphoto {
    display: none; }

  #testimoni {
    margin-top: 45px !important;
    height: 500px !important; }

  #berlangganan {
    height: 700px !important;
    margin-top: 45px; }

  #langganan {
    width: 330px !important; }

  #logobawah {
    float: left !important; }

  #jarak {
    display: none; } }
@media screen and (max-device-width: 375px) {
  .logo {
    margin-left: 10px;
    max-width: 200% !important; }

  .home {
    display: none; }

  .contact {
    display: none; }

  #shadowbody {
    background-image: none !important; }

  #bgatas {
    padding-left: 0px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #imgslide {
    height: 172px !important; }

  .slick-prev {
    left: 3px !important; }

  .slick-next {
    right: 12px !important; }

  #sectionkelebihan {
    height: 1800px !important;
    margin-top: 45px; }

  #kelebihankami {
    margin-top: 30px !important; }

  #sectionpartner {
    height: 200px !important;
    padding-top: 0px !important; }

  #mozaikkanan {
    display: none; }

  #bgbawahkanan {
    display: none; }

  #testiphoto {
    display: none; }

  #testimoni {
    margin-top: 45px !important;
    height: 500px !important; }

  #berlangganan {
    height: 700px !important;
    margin-top: 45px; }

  #langganan {
    width: 330px !important; }

  #logobawah {
    float: left !important; }

  #jarak {
    display: none; } }

/*# sourceMappingURL=style.css.map */
