
/*Responsive*/
@media screen and (min-device-width: 769px) and (max-device-width:1025px){
	.logo {
		margin-left: 30px;
		max-width: 70% !important;
	}
	.home {
		font-weight: 600;
		font-size: 10pt;
	}
	.contact {
		font-weight: 600;
		font-size: 10pt;
		padding: 5px !important;
	}
	.content {
		margin-top: 10px !important;
	}
	#detailkost {
		height: 750px !important;
	}
	#imgkolase1 {
		width: 100% !important;
		height: 300px !important;
	}
	#imgkolase2 {
		width: 100% !important;
		height: 150px !important;
	}
	.ui.form {
		margin-right: 0px !important;
	}
	#imgfilter {
		max-width: 30px !important;
	}
	#berlangganan {
		height: 400px !important;
		margin-top: 45px;
	}
	#langganan {
		width: 600px !important;
	}
	#logobawah {
		float: right !important;
	}
	#jarak {
		display: none;
	}
}
@media screen and (min-device-width: 415px) and (max-device-width:768px){
	.logo {
		margin-left: 10px;
		padding-top: 10px !important;
		max-width: 80% !important;
	}
	#searchregion {
		float: left;
		min-width: 230px !important;
		margin-top: 5px !important;
	}
	#home {
		margin-right: 5px;
		right: 20px;
		bottom: 10px;
	}
	#contact {
		margin-right: 5px;
		right: 10px;
		bottom: 10px;
	}
	.home {
		font-weight: 600;
		font-size: 10pt;
	}
	#imgkolase1 {
		width: 100% !important;
		height: 200px !important;
	}
	#imgkolase2 {
		width: 100% !important;
		height: 100px !important;
	}
	#kolase {
		height: 250px !important;
	}
	.contact {
		font-weight: 600;
		font-size: 10pt;
		padding: 5px !important;
	}
	#detailkost {
		height: 820px !important;
	}
	#ulasan {
		height: 1300px !important;
	}
	#imgslide {
		height: 108px !important;
	}
	.slick-prev {
		left: 0px !important;
	}
	.slick-next {
		right: 10px !important;
	}
	.content {
		margin-top: 10px !important;
	}
	.ui.selection.dropdown{
		padding-left: 0px !important;
	}
	.ui.form {
		margin-right: 0px !important;
	}
	#berlangganan {
		height: 400px !important;
		margin-top: 45px;
	}
	#langganan {
		width: 600px !important;
	}
	#logobawah {
		float: right !important;
	}
	#jarak {
		display: none;
	}
}
@media screen and (min-device-width: 376px) and (max-device-width:414px){
	.logo {
		margin-left: 10px;
		padding-top: 15px !important;
		max-width: 200% !important;
	}
	#searchregion {
		float: right;
		left: 65px !important;
		min-width: 230px !important;
		margin-top: 7px !important;
	}
	#home {
		display: none !important;
	}
	#contact {
		display: none !important;
	}
	.home {
		display: none;
	}
	.contact {
		display: none;
	}
	#kolase {
		height: 300px !important;
	}
	#imgkolase2 {
		display: none;
	}
	#detailkost {
		height: 1430px !important;
	}
	#ulasan {
		height: 1750px !important;
	}
	#inputdata {
		height: 450px !important;
	}
	#main {
		height: 2200px !important;
	}
	#cardlist {
		margin-left: 15px !important;
	}
	#imgslide {
		height: 195px !important;
	}
	.slick-prev {
		left: 0px !important;
	}
	.slick-next {
		right: 10px !important;
	}
	#gmap{
		height: 500px;
		padding-bottom: 60px !important;
	} 
	#mapbox {
		height: 500px !important;
	}
	.content {
		margin-top: 10px !important;
	}
	.ui.form {
		margin-right: 0px !important;
	}
	#berlangganan {
		height: 700px !important;
		margin-top: 45px;
	}
	#langganan {
		width: 330px !important;
	}
	#logobawah {
		float: left !important;
	}
	#jarak {
		display: none;
	}
}

@media screen and (max-device-width:375px){
	.logo {
		margin-left: 10px;
		padding-top: 15px !important;
		max-width: 200% !important;
	}
	#searchregion {
		float: right;
		left: 65px !important;
		min-width: 230px !important;
		margin-top: 7px !important;
	}
	#home {
		display: none !important;
	}
	#contact {
		display: none !important;
	}
	.home {
		display: none;
	}
	.contact {
		display: none;
	}
	#kolase {
		height: 250px !important;
	}
	#imgkolase2 {
		display: none;
	}
	#detailkost {
		height: 1520px !important;
	}
	#ulasan {
		height: 1850px !important;
	}
	#inputdata {
		height: 450px !important;
	}
	#main {
		height: 2200px !important;
	}
	#cardlist {
		margin-left: 15px !important;
	}
	#imgslide {
		height: 172px !important;
	}
	.slick-prev {
		left: 0px !important;
	}
	.slick-next {
		right: 10px !important;
	}
	#gmap{
		height: 500px;
		padding-bottom: 60px !important;

	} 
	#mapbox {
		height: 500px !important;
	}
	.content {
		margin-top: 10px !important;
	}
	.ui.form {
		margin-right: 0px !important;
	}
	#berlangganan {
		height: 700px !important;
		margin-top: 45px;
	}
	#langganan {
		width: 330px !important;
	}
	#logobawah {
		float: left !important;
	}
	#jarak {
		display: none;
	}
}
