/*Body*/
.body {
  font-family: lato;
  color: #353b50; }

h1 {
  font-family: lato;
  color: #353b50; }

h2 {
  font-family: lato;
  color: #353b50; }

h3 {
  font-family: lato;
  color: #353b50; }

h4 {
  font-family: lato;
  color: #353b50; }

b {
  font-family: lato;
  color: #353b50; }

p {
  font-family: lato;
  color: #353b50; }

.content {
  font-size: 16px; }

/*End Body*/
/*Logo*/
.logo {
  width: 140px;
  padding-top: 20px;
  margin-left: 100px; }

/*End Logo*/
/*Home & Contact*/
.home {
  padding: 20px;
  font-family: lato;
  color: #353b50;
  font-weight: 500; }

.contact {
  padding: 20px;
  font-family: lato;
  color: #353b50;
  font-weight: 500; }

/*End Home & Contact*/
/*Section atas*/
.bgataskiri {
  max-width: 100%;
  max-height: 1113px; }

#icon {
  color: #0091ea;
  text-align: right; }

.ui.circular.segment {
  padding: 3px !important; }

#extra {
  max-width: 100% !important; }

.ui.button {
  background-color: #0091ea !important;
  color: white !important;
  min-width: 100px !important; }

.ui.form {
  margin-right: 60px !important; }

.ui.card {
  padding-top: 5px;
  padding-bottom: 5px; }

.hargaperbulan {
  color: #0091ea; }

.checked {
  color: orange; }

.overlay.fluid {
  position: absolute;
  bottom: 10%;
  right: 0%;
  background-color: white;
  font-size: 9pt; }

#loc {
  font-size: 12pt !important;
  margin-top: 5px;
  text-align: left; }

/*Section Slider*/
#sectionslide {
  height: 550px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 550px; }

#bagianslide {
  min-height: 300px; }

.ui.card {
  padding-top: 5px;
  padding-bottom: 5px; }

.hargaperbulan {
  color: #0091ea; }

* {
  box-sizing: border-box; }

.checked {
  color: orange; }

.slider {
  width: 100%;
  margin: 10px auto; }

#imgslide {
  height: 132px !important; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide img {
  width: 100%; }

.slick-prev:before {
  color: black; }

.slick-next:before {
  color: black; }

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1; }

.slick-active {
  opacity: 1; }

.slick-current {
  opacity: 1; }

.overlay.fluid {
  position: absolute;
  bottom: 10%;
  right: 0%;
  background-color: white;
  font-size: 9pt; }

#loc {
  font-size: 12pt !important;
  margin-top: 5px;
  text-align: left; }

/*End Slider*/
/*Footer*/
#footer {
  height: 35px;
  background-image: linear-gradient(142deg, #3c9ce5, #42b8fc);
  text-align: center;
  font-size: 12pt;
  color: white;
  vertical-align: center; }

/*End Footer*/
/*Responsive*/
@media screen and (min-device-width: 769px) and (max-device-width: 1025px) {
  .logo {
    margin-left: 30px;
    max-width: 70% !important; }

  .home {
    font-weight: 600;
    font-size: 10pt; }

  .contact {
    font-weight: 600;
    font-size: 10pt;
    padding: 5px !important; }

  .content {
    margin-top: 10px !important; }

  #detailkost {
    height: 750px !important; }

  #imgkolase1 {
    width: 100% !important;
    height: 300px !important; }

  #imgkolase2 {
    width: 100% !important;
    height: 150px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #imgfilter {
    max-width: 30px !important; }

  #berlangganan {
    height: 400px !important;
    margin-top: 45px; }

  #langganan {
    width: 600px !important; }

  #logobawah {
    float: right !important; }

  #jarak {
    display: none; } }
@media screen and (min-device-width: 415px) and (max-device-width: 768px) {
  .logo {
    margin-left: 10px;
    padding-top: 10px !important;
    max-width: 80% !important; }

  #searchregion {
    float: left;
    min-width: 230px !important;
    margin-top: 5px !important; }

  #home {
    margin-right: 5px;
    right: 20px;
    bottom: 10px; }

  #contact {
    margin-right: 5px;
    right: 10px;
    bottom: 10px; }

  .home {
    font-weight: 600;
    font-size: 10pt; }

  #imgkolase1 {
    width: 100% !important;
    height: 200px !important; }

  #imgkolase2 {
    width: 100% !important;
    height: 100px !important; }

  #kolase {
    height: 250px !important; }

  .contact {
    font-weight: 600;
    font-size: 10pt;
    padding: 5px !important; }

  #detailkost {
    height: 820px !important; }

  #ulasan {
    height: 1300px !important; }

  #imgslide {
    height: 108px !important; }

  .slick-prev {
    left: 0px !important; }

  .slick-next {
    right: 10px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.selection.dropdown {
    padding-left: 0px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #berlangganan {
    height: 400px !important;
    margin-top: 45px; }

  #langganan {
    width: 600px !important; }

  #logobawah {
    float: right !important; }

  #jarak {
    display: none; } }
@media screen and (min-device-width: 376px) and (max-device-width: 414px) {
  .logo {
    margin-left: 10px;
    padding-top: 15px !important;
    max-width: 200% !important; }

  #searchregion {
    float: right;
    left: 65px !important;
    min-width: 230px !important;
    margin-top: 7px !important; }

  #home {
    display: none !important; }

  #contact {
    display: none !important; }

  .home {
    display: none; }

  .contact {
    display: none; }

  #kolase {
    height: 300px !important; }

  #imgkolase2 {
    display: none; }

  #detailkost {
    height: 1430px !important; }

  #ulasan {
    height: 1750px !important; }

  #inputdata {
    height: 450px !important; }

  #main {
    height: 2200px !important; }

  #cardlist {
    margin-left: 15px !important; }

  #imgslide {
    height: 195px !important; }

  .slick-prev {
    left: 0px !important; }

  .slick-next {
    right: 10px !important; }

  #gmap {
    height: 500px;
    padding-bottom: 60px !important; }

  #mapbox {
    height: 500px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #berlangganan {
    height: 700px !important;
    margin-top: 45px; }

  #langganan {
    width: 330px !important; }

  #logobawah {
    float: left !important; }

  #jarak {
    display: none; } }
@media screen and (max-device-width: 375px) {
  .logo {
    margin-left: 10px;
    padding-top: 15px !important;
    max-width: 200% !important; }

  #searchregion {
    float: right;
    left: 65px !important;
    min-width: 230px !important;
    margin-top: 7px !important; }

  #home {
    display: none !important; }

  #contact {
    display: none !important; }

  .home {
    display: none; }

  .contact {
    display: none; }

  #kolase {
    height: 250px !important; }

  #imgkolase2 {
    display: none; }

  #detailkost {
    height: 1520px !important; }

  #ulasan {
    height: 1850px !important; }

  #inputdata {
    height: 450px !important; }

  #main {
    height: 2200px !important; }

  #cardlist {
    margin-left: 15px !important; }

  #imgslide {
    height: 172px !important; }

  .slick-prev {
    left: 0px !important; }

  .slick-next {
    right: 10px !important; }

  #gmap {
    height: 500px;
    padding-bottom: 60px !important; }

  #mapbox {
    height: 500px !important; }

  .content {
    margin-top: 10px !important; }

  .ui.form {
    margin-right: 0px !important; }

  #berlangganan {
    height: 700px !important;
    margin-top: 45px; }

  #langganan {
    width: 330px !important; }

  #logobawah {
    float: left !important; }

  #jarak {
    display: none; } }

/*# sourceMappingURL=style.css.map */
